body{
    margin-left: 1%;
    margin-right: 1%;
    
}


header{
height: 20%;
width: auto;
font-family: 'Playfair Display';
font-weight: 100;
color: rgb(41, 41, 41);
text-align: center;


}

#name{

   color: rgb(34, 33, 33);
   font-family: 'Crimson Text';
   font-weight: 100;
   font-size: 50px;
}

#header-name{
    
    color: rgb(46, 43, 43);
    font-family: sans-serif;
    font-weight: 100;
    font-size: 18px;   
}

#navbar{
   text-align: center;
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

a{
text-decoration: none;
color: rgb(37, 35, 35);
font-size: 16px;
font-weight: 100;
padding-right: 5%;
padding-left: 5%;
}

a:hover{
    color:rgb(145, 0, 104);
}

#fancyimage{
    height: 800px;
    width: 100%;
    z-index: -100;
}

#fancy{
    width: 100%;
    height: 100%;
}

#Sam{
    display: flex;
    flex-wrap: nowrap;
    
    height: 400px;
    width: 100%;
    z-index: 100;
    margin: 1%;
    
}

#SamIntro{
    font-family: 'Playfair Display';
    color: rgba(26, 26, 26, 0.8);
    margin-top:20px;
    font-size: 40px; 
    font-weight: 200; 
}

#SamPic{
flex: auto;
height: 350;
width: 170px;
margin:1%;
padding-left: 10%;
background-image: url("codeimage.jpg");
background-repeat: no-repeat;
}

#SamText{
flex: auto;
width: 60%;
color:rgba(0,0,0, 0.5);
text-align: center;
background-color:white;

}

#AboutMe{
    width: 80%;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    text-align: left;
    line-height: 2;
    padding-left: 100px;
padding-top:30px;
}

#projects{
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    width: 100%;
    margin-top: 3%;
    padding-left: 1%;
    padding-top: 3%;
}

#mindmatterz{
    height: 400px;
    width: 400px;
    margin-left: 4%;
}

#mindmatterz:hover{
    filter: opacity(0.5);
}

#mind{
    flex: auto;
    height: 50%;
    width: 100%;
    margin: 10px;
}


#techtalk{
    height: 400px;
    width: 400px;
    margin-left: 2%;
}

#techtalk:hover{
    filter: opacity(0.5);
}

#techtalkcode{
    flex: auto;
    height: 40%;
    width: 100%;
   margin-top: 7%;
   margin-left: 2%;
}

#gitdiv{
    height: 400px;
    width: 400px;
    margin-left: 2%;
}

#gitdiv:hover{
    filter: opacity(0.5);
}

#github{
    flex: auto;
    height: 30%;
    width: 80%;
   margin-top: 10%;
   margin-left: 2%;
}

#title{
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    margin-left: 5%;
  color: white;
  background-color: rgb(215, 0, 154);
  opacity: 0.7;
     height: 60px;
    width: 300px;
}

#ServiceTitle{
    text-align: center;
    font-size: 30px;
    font-family: 'Playfair Display';
  color: white;
  margin-top: 2%;
  padding-top: 5px;
  
}

#Services{
    background-image: url('marble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding-top: 2px;
}

#MyServices{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 50px;
    height: 600px;
    
    padding-left: 10%;
    padding-top: 2%;
}

.ServiceText{
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    
}

.ServiceDescription{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(33, 30, 31, 0.7);
   margin-top:-20px;
}

ul{
    line-height: 2;
    padding-left: 60px;
    color: rgba(33, 30, 31, 0.8);
    
}

#WebDevelopment:hover{
opacity: 0.5;
}

#WebDevelopment{
    height: 300px;
    width: 300px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid grey;
   
    
    
}

#Blogging:hover{
    opacity: 0.5;   
    }

#Blogging{
    height: 300px;
    width: 300px;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid grey;
   
    
}

#SocialMedia:hover{
    opacity: 0.5;   
    }

#SocialMedia{
    height: 300px;
    width: 300px;
    color: black;
    font-family: sans-serif;
    font-weight: 100;
    background-color: white;
    border: 1px solid grey;
   

}

h1{
    font-family: sans-serif;
    font-weight: 100;
}

#Contact{
    height: auto;
    width: 30%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 35%;
    font-family: sans-serif;
    font-weight: 100;
    border: 1px solid grey;
}

form{
    text-align: center;
    line-height: 30px;
    
}

input{
    font-family: sans-serif;
    font-weight: 100;
}

#copyright{
    font-family: sans-serif;
    font: size 12px;
    font-weight: 100;
    text-align: right;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    padding-left: 40%;
}
